body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-inline-item .btn-outline-info {
  color: rgba(56, 225, 98, 1);
  border: 1px solid #5a606b;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: 500;
}

.list-inline-item .btn-outline-info:hover {
  color: rgba(161, 151, 221, 1);
  border-color: white;
  background-color: transparent;
  transition: all 0.3 ease-in-out;

}

.bi-arrow-right-square-fill {
  color: green;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.bi-arrow-right-square-fill:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}
